<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <% if ENV['GITHUB_REF'] != 'refs/heads/main' || current_page.data.sitemap_ignore %>
      <meta name="robots" content="noindex">
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page_title %></title>
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="Atom Feed">
    <link rel="preload" href="<%= url_for '/stylesheets/all.css' %>" as="style">
    <link rel="stylesheet" href="<%= url_for '/stylesheets/all.css' %>">
    <link rel="canonical" href="<%= URI.join(config[:site_url], current_page.url.chomp('.html')) %>">
  </head>
  <body>
    <% unless current_page.data.hide_nav %>
      <nav class="main-nav">
        <a href="/"><span class="arrow">←</span> Home</a>
      </nav>
    <% end %>

    <section id="wrapper"<% unless current_article %> class="home"<% end %>>
      <%= yield %>
      <footer id="footer">
        <p class="small">© <%= Time.now.year %> <%= config[:site_author] %></p>
      </footer>
    </section>
  </body>
</html>
